.header{
    background-color: #220902;
    color: #FC9F44;
    padding-top: 5px;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom:1%;
    position:relative;
}

.login{
    float:right;
    margin-right:1%;
    margin-top:-3%;
    
}
.botao{
    border: radius 1em;
    width: 70px;
    height: 30px;
    background-color: #FC9F44;
    color: #220902;
}

.cart{
    height:30px;
    width:30px;

}

figcaption{
    margin-left: 91%;
    margin-top:-3%;
}

.logotipo{
    border-radius: 1em;
    border-color: black;
    border-style: solid;
    margin-right:80%;
    text-align:center;
    
}

.contentlogo{
    margin-top:1%;
    text-align: center;
}

.nomeempresa{
    margin-left: -24%;
    margin-top:-4%;
}

.status{
    border-radius: 1em;
    margin-right: 28%;
    margin-top: -5%;
    margin-left: 55%;
  border-style: solid;
}
