* {
    margin: 0;
    padding: 0;
}
#initial {
    display: flex;
}
.menu{
    margin-left: 0;
    background-color: #220902;
    color: #FC9F44;
    padding-top: 5px;
    font-size: 20px;
    padding-left: 15px;
    width: 100%;
   
}

.botao{
    border-radius: 6px;
    size: 2em;
    margin-left: 95%;
    display: flex;
    margin-bottom: 20%;
    
}