.header{
    background-color: #220902;
    color: #FC9F44;
    padding-top: 5px;
    font-size: 20px;
    padding-left: 15px;
   
}

.botao{
    border: radius 1em;
    size: 2em;
    margin-left: 95%;
    
}